{% extends "webgallery/base/base.html" %}

{% block title %}
    OMERO.web Gallery
{% endblock %}


{% block body %}

    <div>
        Logged in as: {{ ome.user.getFullName }}
        |
        Group:
        <select id="group_chooser">
            {% for g in myGroups %}
                <option value="{{ g.id }}" {% ifequal g.id active_group_id %}selected{% endifequal %}>
                    {{ g.getName }}
                </opiton>
            {% endfor %}
        </select>
        |
        User:
        <select id="users_chooser">
            {% if group_owners %}
                <optgroup label="Owners">
                {% for user in group_owners %}
                    <option value="{{ user.id }}" {% ifequal user.id ome.user_id %}selected{% endifequal %}>
                        {{ user.getFullName }}
                    </option>
                {% endfor %}
            {% endif %}
            {% if group_members %}
                <optgroup label="Members">
                {% for user in group_members %}
                    <option value="{{ user.id }}" {% ifequal user.id ome.user_id %}selected{% endifequal %}>
                        {{ user.getFullName }}
                    </option>
                {% endfor %}
            {% endif %}
        </select>
    </div>

    <hr>

    <h2>Welcome to OMERO.web Gallery</h2>

    <ul>
        {% for p in projects %}
            <li>{{ p.getId }}: {{ p.getName }} (owner: {{ p.getDetails.getOwner.getOmeName }})</li>
        {% endfor %}
    </ul>

    <!-- Adding Scripts - First we link to the 'current' jQuery used by OMERO.web -->
    {% include "webgateway/base/includes/script_src_jquery.html" %}
    <script>
        $(function(){
            var current_url = document.URL.split("?")[0]    // remove query string
            $("#group_chooser").change(function(){
                // To swich group, we visit the webclient change_active_group, with groupId.
                var groupId = $(this).val(),
                    cg_url = "{% url change_active_group %}?active_group=" + groupId;
                cg_url += "&url=" + current_url;       // Redirects back to this page/url
                window.location.href = cg_url;
            });

            $("#users_chooser").change(function(){
                // To swich group, we visit the webclient change_active_group, with groupId.
                var userId = $(this).val(),
                    page_url = current_url + "?user_id=" + userId;
                window.location.href = page_url;
            });
        });
    </script>

{% endblock %}