{% extends "webgallery/base/base.html" %}

{% block title %}
    {{ project.getName }}
{% endblock %}


{% block body %}

    <div>
        <a href="{% url webgallery_index %}">Home</a>
        Logged in as: {{ ome.user.getFullName }}
    </div>

    <hr>

    <h2>{{ project.getName }}</h2>

    <p>{{ project.getDescription }}</p>

    <hr/>

    <ul>
        {% for d in datasets %}
            <li>
                <a href="{% url  webgallery_show_dataset d.id %}">{{ d.name }}</a> </br>
                {% if d.description %}
                    <div>{{ d.description }}</div>
                {% endif %}

                {% for i in d.images %}
                    <img title="{{ i.getName }}" src="{% url render_thumbnail_resize 96 i.id %}" />
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}