
.and_clause {
    border: solid #aaa 1px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    position: relative;
    margin-top: 25px;
  }
  .and_clause * {
    box-sizing: border-box;
  }
  .and_clause:before {
    position: absolute;
    content: "AND";
    top: -19px;
    font-size: 14px;
    left: 0;
    margin-left: 5px;
  }
  .and_clause:first-child {
    margin-top: 5px;
  }
  .and_clause:first-child:before {
    display: none;
  }
  .or_clause {
    display: flex;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 5px;
  }
  .or_clause > div {
    flex: 1;
  }
  .or_clause:first-child .or {
    visibility: hidden;
  }
  .or_clause label{
    display: none;
  }
  .or_clause:first-child label{
    display: block;
  }
  .or_clause .no_expand,
  .or_clause .search_condition {
    flex: 0;
  }
  select.condition {
    width: fit-content;
  }
  .and_clause select.keyFields,
  .and_clause input.valueFields {
    width: 100%;
  }
  
  /* Results list */

  ul.resultsList li:nth-child(even) {
    background-color: #f1f1f1;
  }
  ul.resultsList li:nth-child(odd) {
    background-color: #ffffff;
  }
  .resultsHeader {
    font-weight: bold;
  }
  .studyRow {
    display: flex;
    flex-direction: row;
  }
  .studyRow div {
    flex: 1;
    text-align: center;
    padding: 10px;
  }
  .studyRow .caret {
    flex: 0 0 50px;
  }
  .studyRow .studyId {
    flex: 0 0 150px;
  }
  .studyRow .count {
    flex: 0 0 100px;
  }
  .studyRow .studyName {
    flex: 1 0 100px;
  }

  .fa-caret-right {
    font-size: 25px;
    transition: transform 0.2s;
    transform-origin: 3px center;
  }

  .expanded .fa-caret-right {
    transform: rotate(90deg)
  }
