<!doctype html>
<html class="no-js" lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IDR: {{ page.title }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="http://idr.openmicroscopy.org/about/img/logos/favicon-idr.ico">

        <link rel="stylesheet" type="text/css" media="all" href="//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic">
        <link rel="stylesheet" type="text/css" media="all" href="//fonts.googleapis.com/css?family=Nunito">
        <link href="{% static 'gallery/3rdparty/foundation/foundation.min.css' %}" rel="stylesheet">
        <link href="{% static 'gallery/idr/openmicroscopy.css' %}" rel="stylesheet">
        <link href="{% static 'gallery/idr/idr.css' %}" rel="stylesheet">
        <link href="http://idr.openmicroscopy.org/about/fonts/fontawesome-webfont.woff2?v=4.3.0" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">

        <script src="{% static 'gallery/3rdparty/foundation/foundation.min.js' %}"></script>
    </head>

    <body>

        <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium" style="background-color: #37474f;">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title">Menu</div>
        </div>

        <div class="nav-secondary">
            <div class="top-bar-right">
                <ul class="menu">
                    <li><a href="https://www.twitter.com/idrnews" target="_blank"><i class="fa fa-fw fa-twitter"></i> @IDRnews</a></li>
                    <li><a href="https://www.twitter.com/idrstatus" target="_blank"><i class="fa fa-fw fa-twitter"></i> @IDRstatus</a></li>
                </ul>
            </div>
        </div>

        <div class="main-nav-bar top-bar" id="main-menu">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a class="logo" href="index.html"><img src="http://idr.openmicroscopy.org/about/img/logos/logo-idr.svg" }}" alt="IDR logo"></a></li>
                    <li class="has-submenu"><a href="about.html">About Us</a>
                    <ul class="submenu menu vertical" data-submenu>
                        <li><a href="about.html">Overview</a></li>
                        <li><a href="studies.html">Published studies</a></li>
                    </ul>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="has-submenu"><a href="submission.html">Submissions</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="submission.html">Overview</a></li>
                            <li><a href="screens.html">Screens</a></li>
                            <li><a href="experiments.html">Experiments</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu"><a>Analysis</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="api.html">API Access</a></li>
                            <li><a href="download.html">Data download</a></li>
                            <li><a href="itr.html">Image Tools Resource (ITR)</a></li>
                            <li><a href="/jupyter">Virtual Analysis Environment (VAE)</a></li>
                        </ul>
                    </li>
                    <li><a href="deployment.html">Deployment</a></li>
                </ul>
            </div>
        </div>

        <a name="page-top"></a>


        {% block content %}

        {% endblock %}

        
        <div id="page-anchor"><a href="#page-top"><i class="fa fa-arrow-up"></i> back to top</a></div>

        <hr class="whitespace">

        <div class="callout large secondary">
            <div class="row">
                <div class="row small-up-2 medium-up-5 large-up-5">
                    <div class="column"><a href="https://www.openmicroscopy.org/" target="_blank"><img class="thumbnail their-logo" src="http://idr.openmicroscopy.org/about/img/logos/ome-logo-200.png" }}" alt="OME"></a></div>
                    <div class="column"><a href="http://www.eurobioimaging.eu/" target="_blank"><img class="thumbnail their-logo" src="http://idr.openmicroscopy.org/about/img/logos/eurobioimaging_logo.gif" }}" alt="Euro-Bioimaging"></a></div>
                    <div class="column"><a href="http://www.eurobioimaging.eu/" target="_blank"><img class="thumbnail their-logo" src="http://idr.openmicroscopy.org/about/img/logos/globalbioimaging_logo.png" }}" alt="Global-Bioimaging"></a></div>
                    <div class="column"><a href="https://www.bbsrc.ac.uk/" target="_blank"><img class="thumbnail their-logo" src="http://idr.openmicroscopy.org/about/img/logos/bbsrc.png" }}" alt="BBSRC"></a></div>
                    <div class="column"><a href="https://ec.europa.eu/programmes/horizon2020/" target="_blank"><img class="thumbnail their-logo" src="http://idr.openmicroscopy.org/about/img/logos/h2020.png" }}" alt="Horizon"></a></div>
                </div>
                <hr class="whitespace">
                <div class="large-12 columns text-center">
                    <p>&copy; 2016-2019 University of Dundee &amp; Open Microscopy Environment. <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a>.</p>
                    <p>OMERO is distributed under the terms of the GNU GPL. For more information, visit <a href="https://www.openmicroscopy.org">openmicroscopy.org</a></p>
                </div>
                <hr class="whitespace">
                <div class="small-12 columns text-center">
                    <p class="version-number"><a href="index.html"><img id="version-number" src="http://idr.openmicroscopy.org/about/img/logos/logo-idr.svg" }}" alt="IDR logo"></a>
                        version: <span id="version-number-display"></span>.
                    
                </div>
            </div>
        </div>

        <script>
            $(document).foundation();
        </script>

    </body>

</html>
