
{% extends "webgallery/idr/base.html" %}

{% block content %}

<script>
  const IDR_TYPE = "{{ idr_type }}";
</script>

<hr class="whitespace" style="height: 0">

<div class="row column text-center">
  <h1>Welcome to {% if idr_type %}{{ idr_type|title }} {% endif %} IDR</h1>

<div class="small-10 small-centered medium-10 medium-centered columns">

    <div class="row horizontal">

      <div class="small-12 medium-12 large-2 columns">
        <h2>Search by:</h2>
      </div>
      <div class="small-12 medium-4 large-3 columns">
        <select id="maprConfig">
          <optgroup id="studyKeys" label="Study Attributes">
            <!-- Map-Annotation keys loaded here -->
          </optgroup>
          <optgroup id="maprKeys" label="Image Attributes">
          </optgroup>
        </select>
      </div>
      <div class="small-12 medium-8 large-7 columns">
        <input id="maprQuery" type="text" placeholder="Publication Authors">
      </div>
    </div>

    {% if not idr_type %}
    <div class="row horizontal">
      <a href="cells/">
        <div class="small-6 medium-6 large-6 columns" style="position: relative;">
          <img class="thumbnail" src="https://idr.openmicroscopy.org/webgateway/render_image/122770/0/0/" />
          <div class="img_overlay">
            <span class="overlay_text">Cells</span>
          </div>
        </div>
      </a>
      <a href="tissue/">
        <div class="small-6 medium-6 large-6 columns" style="position: relative;">
          <img class="thumbnail" src="https://idr.openmicroscopy.org/webgateway/render_image_region/5470164/0/0/?region=1024,1024,696,520" />
          <div class="img_overlay">
            <span class="overlay_text">Tissue</span>
          </div>
        </div>
      </a>
    </div>
    {% endif %}

    <div id="filterCount" class="row horizontal">
    </div>
</div>

<div id="studies" class="row horizontal">
  Loading Studies...
</div>

<script src="{% static 'gallery/idr/index.js' %}"></script>

{% endblock %}
